<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="style.css">
    </head>
    
<body>

    <div class = "imgcollage1">
        <div class = "picture1"><img src="1.png" alt =""></div>
        <div class = "text1">
            <p>프로그램 1</p>
            
        </div>

    </div>


    <div class = "imgcollage2">
        <div class = "picture2"><img src="2.png" alt =""></div>
        <div class = "text2">
            <p>프로그램 2</p>
        </div>
    </div>


    <div class = "imgcollage3">
        <div class = "picture3"><img src="3.png" alt =""></div>
        <div class = "text3">
            <p>포르그램 3</p>
        </div>

    </div>


    <div class = "imgcollage4">
        <div class = "picture4"><img src="4.png" alt =""></div>
        <div class = "text4">
            <p>프로그램 4</p>
        </div>
    </div>


    <div class = "imgcollage5">
        <div class = "picture5"><img src="5.png" alt =""></div>
        <div class = "text5">
            <p>프로그램 5</p>
        </div>
    </div>


    <div class = "imgcollage6">
        <div class = "picture6"><img src="6.jpg" alt =""></div>
        <div class = "text6">
            <p>프로그램 6</p>
        </div>
    </div>


    </body>

    <body>
        <div class="paging">
            <a class="select" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </body>
</html>




