<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href= "{% static 'css/main_style.css' %}">
        <link rel="stylesheet" href= "{% static 'css/style.css' %}">
    </head>
    
    <header>
        <div>
            <h2 class = "header_logo"><a href = "{% url 'main' %}" title = "홈페이지 메인으로 가기"><img src = "/static/img/lottelogo.jpg" alt = ""></a></h2>
            <div>
                <ul class = "friendShip">
                    <li><a href = "{% url 'notice_page' %}" title = "공지사항 페이지 가기">공지사항</a><span>|</span></li>
                    <li><a href = "https://www.lotte.co.kr/main.do" target = "_blank" title = "롯데그룹 홈페이지 가기">롯데그룹</a><span>|</span></li>
                </ul>
    
                <ul class = "SNS">
                    <li class="facebook"><a href="https://www.facebook.com/lotte" target="_blank" title="롯데그룹 사회공헌 페이스북 가기">페이스북</a><span>|</span></li>
                    <li class="blog"><a href="http://blog.lotte.co.kr/" target="_blank" title="롯데그룹 사회공헌 블로그 가기">blog</a><span>|</span></li>
                    <li class="youtube"><a href="https://www.youtube.com/user/LOTTELIVE" target="_blank" title="롯데그룹 사회공헌 유투브 가기">youtube</a><span>|</span></li>
                </ul>
            </div>
        </div>
        
        <nav id = "menu">
            <ul class = "main">
                <li><a href = "#">소개</a>
                    <ul class = "sub">
                        <li><a href = "#">프로그램 개요</a></li>
                        <li><a href = "#">비전</a></li>
                    </ul>
                </li>
                <li><a href = "#">프로그램</a>
                    <ul class = "sub">
                        <li><a href = "{% url 'program_form' %}">프로그램 신청</a></li>
                        <li><a href = "{% url 'class_page' %}">클래스</a></li>
                    </ul>
                </li>
                <li><a href = "#">활동내용</a>
                    <ul class = "sub">
                        <li><a href = "{% url 'supporters_form' %}">서포터즈 신청</a></li>
                        <li><a href = "{% url 'supporter_page' %}">팀별 활동내용</a></li>
                        <li><a href = "#">활동후기</a></li>
                    </ul>
                </li>
                <li><a href = "#">커뮤니티</a>
                    <ul class = "sub">
                        <li><a href = "{% url 'notice_page' %}">공지사항</a></li>
                        <li><a href = "#">FAQ</a></li>
                        <li><a href = "#">1:1 문의</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    
    </header>

<body>

    <div class = "imgcollage1">
        <div class = "picture1"><img src="/static/img/1.png" alt =""></div>
        <div class = "text1">
            <p>프로그램 1</p>
            
        </div>

    </div>


    <div class = "imgcollage2">
        <div class = "picture2"><img src="/static/img/2.png" alt =""></div>
        <div class = "text2">
            <p>프로그램 2</p>
        </div>
    </div>


    <div class = "imgcollage3">
        <div class = "picture3"><img src="/static/img/3.png" alt =""></div>
        <div class = "text3">
            <p>포르그램 3</p>
        </div>

    </div>


    <div class = "imgcollage4">
        <div class = "picture4"><img src="/static/img/4.png" alt =""></div>
        <div class = "text4">
            <p>프로그램 4</p>
        </div>
    </div>


    <div class = "imgcollage5">
        <div class = "picture5"><img src="/static/img/5.png" alt =""></div>
        <div class = "text5">
            <p>프로그램 5</p>
        </div>
    </div>


    <div class = "imgcollage6">
        <div class = "picture6"><img src="/static/img/6.jpg" alt =""></div>
        <div class = "text6">
            <p>프로그램 6</p>
        </div>
    </div>

    <div class="paging">
            <a class="select" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </body>

    <footer>
        <br><br><br><br>
        <h2 class="container">Lotte Project</h2><br><br>
        <li>Copyright ⓒ 2020 조선대학교 멋쟁이 사자처럼 8기 해커톤 프로젝트</li>
    </footer>
    
</html>




