@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

*{
    margin : 0;
    padding : 0;
}

a{
    text-decoration : none;
    color : #404040;
}

li {
    list-style : none;
}

span {
    position : relative;
    padding : 0px 10px;
}

Header {
    font : 20px 'Nanum Gothic', sans-serif;
    height : 140px;
    background-color : white;
    border : 1px solid white;
    position : relative;
    width : 100%;
    top : 0;
    left : 0;
}

.header_logo {
    width : auto; height : auto;
    line-height : 100px;
    float : left;
    padding : 20px 140px;
}

.friendShip{
    width : auto; height : auto;
    line-height : 100px;
    float : right;
    padding : 0px 100px 0px 0px;
}

.friendShip>li{
    float : left;
    padding : 5px;
}

.SNS{
    width : auto; height : auto;
    line-height : 100px;
    float : right;
    padding : 0px 10px 0px 0px;
}

.SNS>li{
    float :left;
    padding : 5px;
}

#menu{
    height : 50px;
    position : absolute;
    width : 600px;
    padding : 0px 0px 0px 300px;
    z-index : 1
}   


#menu ul{
    width : 100%;
    margin : 0 auto;
   /* overflow : hidden; */
}

#menu .main>li{
    float : left;
    width : 25%;
    height : 50px;
    line-height : 50px;
    text-align : center;
    position : relative;
    top : 30px;
}

#menu .main>li:hover .sub {
    display: block;
}

#menu .main>li a{
    display: block;
}

#menu .main>li a:hover{
    background : white;
    color : black;
    top : 120px;
}

#menu .main .sub{
    position : absolute;
    top : 50px;
    left : 0;
    width : 100%;
    display : none;
}

#menu .main .sub li{
    background : white;
}

#menu .main .sub li a:hover{
    background :lightgrey;
}

#container{
    top : 50px;
    position : relative;
    width : 100%;
    height : auto;
}

footer{
    font : 20px 'Nanum Gothic', sans-serif;
    height : 250px;
    background-color : rgb(77, 74, 74);
    color : white;
    border : 1px solid rgb(77, 74, 74);
    position : relative;
    width : 100%;
    top : 100px;
    text-align : center;
}

