<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서포터즈 폼 작성</title>
    <link rel="stylesheet" href="supporters_style.css">
</head>

<form action="/my-handling-form-page" method="post">
    <h4>1. 인적사항</h4>
    <div>
      <label for="name">성명:</label>
      <input type="text" id="name" name="user_name">
      <label for="name">생년월일:</label>
      <input type="date" id="birth" name="user_birth">
      <label for="name">성별:</label>
      <input type="radio" id="sex" name="user_sex" value="남" checked>남
      <input type="radio" id="sex" name="user_sex" value="여">여
    </div>

    <div>
      <label for="name">주소:</label>
      <input type="text" id="address" name="user_address">
    </div>
  
    <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="user_email">
      <label for="phone">휴대폰:</label>
      <input type="tel" id="phone" name="user_phone">
    </div>
  
    <div>
      <label for="school">학교:</label>
      <input type="text" id="school" name="user_school">
      <label for="major">학과:</label>
      <input type="text" id="major" name="user_major">
      <label for="grade">학년:</label>
      <select name="grade" size="1">
          <option value = "one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="etc">기타</option>
      </select>
    </div>

    <h4>2. 대내외 활동경험(동아리, 대외활동, 봉사활동, 인턴등)</h4>
    <div>
        파일 업로드 : <input type="file" name="upload" value="파일">
        <br>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    <h4>3. 자기소개서</h4>
    <div>
        <h5> 3-1. 자기소개</h5>
        <textarea id="personal-1" name="personal-1" placeholder="자신의 장`단점/특기/성격/좌우명 등 구체적으로 작성"></textarea>
        <h5> 3-2. 지원동기</h5>
        <textarea id="personal-2" name="personal-2" placeholder="대학생 서포터즈에 지원하게 된 이유,계기 작성"></textarea>
        <h5> 3-3. 활동각오</h5>
        <textarea id="personal-3" name="personal-3"placeholder="선발 될시 어떠한 마음가짐과 태도로 활동할 것인지에 대해 구체적으로 작성"></textarea>
    </div>
    <div class="button">
      <button type="reset">다시입력</button>
      <button type="submit">제출</button>
    </div>
    
  </form>