body {
  margin : 0px;
}


.main_text {
  color : black;
  font-size : 100%;
  width : 250px;
  height : 55px;
  padding-left: 10px;
  margin : 0px 0px 0px 280px ;

}

.main_text_four {
  color : black;
  font-size : 100%;
  width : 250px;
  height : 55px;
  padding-left: 10px;
  margin : 0px 0px 0px 0px;

}




.main_text_two {
  display:inline-block;
  margin : 0px 0px 0px 20px;
}

.main_text_three {
  background-color: #e9e9e9;
  
 
}


.main_text_five {
  width: 30%;
  margin: 10px 0px 0px 280px;
  border: 1px solid #000000;
  display:inline-block;
  

}

.main_text_six img{
 
  
  width: 100%;
  height: 245px;
  
  
}

.main_text_seven {
  
  padding : 3px; 
	background-color: white;
  text-align: center;
  font-size: 17.5px;
}


 

/*------------------------------------------------------------*/

.main_text_eight {
  width: 30%;
  margin: 25px 0px 0px 60px;
  border: 1px solid #000000;
  display:inline-block;
  
  
  
}

.main_text_nine img {
  
  width: 100%;
  height: 245px;
  

}

.main_text_ten {
  padding: 3px;
	background-color: white;
  text-align: center;
  font-size: 17.5px;


  
}

/*---------------------------------------------------------------*/
.paging {
  text-align: center;
}
.paging a {
  /*
  display: inline-block 인라인 요소의 특징과 블록 요소의 특징을 모두 갖는다
  크기를 가질 수 있으며 텍스트 정렬도 적용받는다
  */
  display: inline-block;
  
  font-weight: bold;
  text-decoration: none;
  padding: 5px 8px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #F5F5DC;
  margin : 50px;
}
/* 현재 페이징에 select 클래스를 적용한다*/
.paging a.select {
  color: #fff;
  background-color: #FFA7A7;
  
}


