<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클래스 상세페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}">
</head>

<body>
    <div class = "contents">
        <div class="class_contents">
            <p class = "text">
                LOTTE 외국인 팀별 프로젝트
            </p>
            <h3 class = "text_two"> LOTTE 외국인 팀프로젝트 (화/11:00~13:00) </h3>
            <p class = "text_three"><i class ="i_text"></i></p>
                <div class = "box_img">
                    <img src="/static/img/vocal.jpg" alt = "클래스 이미지">
                 </div>
            
                <div class= "box_txt">
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>수업</th>
                                <td>
                                    2020-01-14(화) ~ 2020-02-11(화)
                                    (15:00 ~ 17:00)
                                </td>
                            </tr>
                        </table>
                    </div>   
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>접수</th>
                                <td>2019-12-18 ~ 2020-01-08
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>선정</th>
                                <td>2020-01-09
                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>정원</th>
                                <td>
                                    18명
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>문의</th>
                                <td>
                                서재문 031-254-0629
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box_txt_top">
                        <table  width="100%" cellpadding="0" cellspacing="0" class="tal">
                            <colgroup>
                                <col width="62px">
                                <col>
                            </colgroup>
                            <tr>
                            <th>기타</th>
                                <td><b><span class="text_pink"></span></b></td>
                            </tr>
                        </table>
                    </div>
                    
            
                </div>
            </div>
        </div>
        
    </div>
</body>